

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 40px;
  background-color: black;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
   justify-content: center;
  z-index: 1000;
}

/* Gradient under navbar */
.navbar-gradient {
  position: fixed;
  top: 60px; /* same as navbar height */
  left: 50%;
  transform: translateX(-50%);
  width: 60%;  /* control how wide the glow is */
  height: 120px; /* control how tall */
  background: radial-gradient(
    circle at center,
    rgba(255, 4, 62, 0.4) 0%,
    rgba(44, 38, 38, 0) 70%
  );
  pointer-events: none; /* does not block clicks */
  z-index: 500;
}


.nav-links {
  display: flex;
  gap: 30px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s;
}

.nav-item:hover {
  color: #ff4081; /* pink hover like Movies page */
}

.login-btn {
  background: #ff4081;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #e73370;
}

/* Hero Section */
.hero {
  padding-top: 120px; /* push content below fixed navbar */
  text-align: center;
}
